.app-banner {
  height: 110vh;
  // margin-top: -72px;
  background-image: url("https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1548519122/personal/Iphone6.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  // color: #f4f4f4;
  h3 {
    font-size: 5rem;
  }
}

.position-app-left-center {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 40vw;
}
.small-screen-app {
  top: 65%;
}

@media (max-width: 1200px) {
  .position-app-left-center {
    position: absolute;
    top: 7%;
    left: 5%;
    width: 69vw;
  }
  .small-screen-app {
    top: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .position-app-left-center {
    position: absolute;
    top: 7%;
    left: 5%;
    width: 90vw;
  }
  .small-screen-app {
    top: 72%;
  }
  .app-banner {
    background-position: center;
  }
}
