.home-banner {
  height: 135vh;
  margin-top: -78px;
  background-image: url("https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1548439252/personal/OQ3OW90.jpg");
  background-size: cover;
  background-position: center top;
  h1 {
    font-size: 7rem;
  }
}

.position-left-center {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 40vw;
}

@media (max-width: 1100px) {
  .position-left-center {
    top: 40%;
  }
  .small-screen {
    top: 35%;
  }
}

@media only screen and (max-width: 600px) {
  .home-banner {
    background-position: bottom;
    h1 {
      font-size: 4rem;
    }
  }
  .position-left-center {
    position: absolute;
    top: 6%;
    left: 5%;
    width: 90vw;
  }
  .small-screen {
    top: 4%;
  }
}


