.website-banner {
  height: 135vh;
  // margin-top: -72px;
  background-image: url("https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1548446146/personal/142986-OT8EC1-303.jpg");
  background-size: cover;
  background-position: center top;
  position: relative;
  color: #f4f4f4;
  margin-top: -1px;
  h3 {
    font-size: 5rem;
  }
}

.position-right-center {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40vw;
}

.small-screen-web {
  top: 45%;
}

.small-screen-only {
    visibility: hidden;
}

@media (max-width: 1200px) {
  .position-right-center {
    position: absolute;
    top: 55%;
    right: 5%;
    width: 40vw;
  }
  .small-screen-web {
    top: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .banner-white-black {
    height: 55vh;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 20%, rgba(0, 36, 30, 0.1)47%), url("https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1548446146/personal/142986-OT8EC1-303.jpg");
    background-size: cover;
    background-position: center top;
    position: relative;
    color: #f4f4f4;
    margin-top: -1px;
    // background-image: linear-gradient(to bottom, #f6f6f6, #c1c0c1, #8f8d8d, #5f5d5c, #323230);
  }
  .position-right-center {
    position: absolute;
    top: 28%;
    right: 5%;
    width: 90vw;
    // background-color: rgba(0, 0, 0, 0.5);
    // border-radius: 6px;
    // padding: 5px 12px 5px 12px;
  }
  .small-screen-web {
    // top: 10%;
    display: none;
  }

  .small-screen-only {
    visibility: visible;
    text-align: right;

  }

  .website-banner {
    background-position: unset;
  }

  .position-center-web {
    position: absolute;
    width: 53vw;
    right: 5%;
    top: 23%;
  }
}
