<div class="app-banner" id="apps">
  <div class="container-fluid">
    <h1 class="position-app-left-center">Mobile Responsive Webapps</h1>
    <p class="position-app-left-center small-screen-app">Designed to be fully responsive with customer UX in mind. Your web applications will be enjoyable to use with any device.</p>
  </div>
</div>
