<div class="home-banner">
  <div class="container-fluid">
    <h1 class="position-left-center">Thought About a New Website?</h1>
    <p class="position-left-center small-screen">We turn your ideas into working websites and webapps.</p>
  </div>
</div>
