<div class="contact-banner" id="contact">
  <div class="container-fluid">
    <% if params[:action] == 'home' %>
    <h3 class="position-contact-left-center">Contact</h3>
    <% else %>
    <h1 class="position-contact-left-center">Contact</h1>
    <% end %>
    <div class="position-contact-left-center small-screen-contact">
      <p>Get in touch for a quote and let's get your project underway.</p>
      <a href="tel:07793004675"><i class="fas fa-phone-square"></i> 07793 004675 </a>
      <a href="mailto:petersparks18@gmail.com?Subject=New%20project" target="_top"><i class="far fa-envelope"></i>  pete@spark-byte.com </a>
    </div>
  </div>
</div>
