<div class="portfolio-banner">
  <div class="content-left">
    <h1 class="position-portfolio-left-center">Contour Golf Ltd</h1>
    <div class="position-portfolio-left-center small-screen-portfolio">
      <p>A brand new business website for future clients to understand the core business and company ethos. A perfect way to showcase their work and funnel potential clients into new business leads.</p>
      <a href="www.contour-golf.herokuapp.com"> Contour Golf </a>
    </div>
  </div>
    <div class="content-right">
      <img class="portfolio-image" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1548673343/personal/contour_golf_iphone.png" alt="">
    </div>
  </div>
</div>
