<div class="website-banner" id="website">
  <div class="container-fluid">
    <h3 class="position-right-center">Bespoke Design & Made In House</h3>
    <p class="position-right-center small-screen-web">Built from the ground up using Ruby on Rails and javascript. We can launch a completely personalised and fully customised website or webapp perfectly suited to your business or idea.</p>
  </div>
</div>
<div class="banner-white-black">
  <div class="position-center-web">
    <p class="small-screen-only">Built from the ground up using Ruby on Rails and javascript. We can launch a completely personalised and fully customised website or webapp perfectly suited to your business or idea.</p>
  </div>
</div>

